<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>403</title>
  <style>
    body, html {
      height: 100%;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial, sans-serif;
    }
    
    img {
        width: 1000px;
    }
  </style>
</head>
<body>
  <div class="error-container">
    <a href="/products" class="error-link"><img src="/public/images/403.svg"></a>
  </div>
  <div id="bthn" lang="en"></div>
</body>
</html>