<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No Permission</title>
    <link rel="stylesheet" href="/public/styles/accessDenied.css">
</head>
<body>
    <div class="no-permission-container">
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page.</p>
        <a href="/products">Go to Home</a>
    </div>
</body>
</html>
