<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweetly - 403</title>
    <link rel="stylesheet" href="/public/styles/accessDenied.css">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="access-denied-container">
        <img src="/public/images/lock-icon.svg" alt="Lock Icon"> <!-- Add the lock image -->
        <h1>Access Denied</h1>
        <p>You don't have permissions to access this page.<br>
        Contact an administrator to get permissions or go to the home page and browse other pages.</p>
        <a href="/products">Go to home</a>
    </div>
</body>
</html>
