<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link ref="/Users/zivklein/Documents/Study_Project/YearB/SemesterC/Internet_Application/candy-shop/public/styles/admin_page.css">
    </head>
    <body>  
        <div class="top-bar">
            <div class="left-section">
                <img src="/public/images/home_icon.svg" alt="Icon 1" class="icon">
                <img src="/public/images/home_icon.svg" alt="Icon 2" class="icon">
            </div>
            <div class="center-section">
                <img src="/public/images/home_icon.svg" alt="Logo" class="logo"> <!-- Replace with your logo -->
            </div>
            <div class="right-section">
                <span class="text">חזרה לאתר</span>
            </div>
        </div>
    </body>
</html>