<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Candy Shop - Admin Page</title>
        <link rel="stylesheet" href="../public/styles/admin_page.css">
    </head>
    <body>  
        <div class="top-bar">
            <div class="left-section">
                <img src="../public/images/home_icon.svg" alt="Icon 1" class="icon">
                <img src="../public/images/home_icon.svg" alt="Icon 2" class="icon">
            </div>
            <div class="center-section">
                <img src="../public/images/candy_icon.svg" class="logo"> 
            </div>
            <div class="right-section">
                <span class="text">חזרה לאתר</span>
            </div>
        </div>
    </body>
</html>