<!DOCTYPE html>
<html>
  <head>
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="/styles/catalog.css">
  </head>
  <body>
    <h1>Products</h1>

    <div id="products"></div>

    <script>
      // Fetches data from /products
    fetch('/products')
    .then(response => response.json())
    .then(data => {
        const productsDiv = document.getElementById('products');

        data.forEach(product => {
            const productCard = document.createElement('div');
          
            let image = '/images/default.png'; // Default image
            if (product.image && product.image.trim() !== '') {
                image = product.image; // If an image URL exists, use it instead
            }
          
            productCard.innerHTML = `
                <h2>${product.name}</h2>
                <p><b>Description:</b> ${product.description}</p>
                <p><b>Location:</b> ${product.location}</p>
                <p><b>Price:</b> ${product.price}</p>
                <p><b>Category:</b> ${product.category}</p>
                <p><b>Supplier:</b> ${product.supplier}</p>
                <p><b>Calories:</b> ${product.calories}</p>
                <img src="${image}" alt="Image of ${product.name}" style="width:200px;height:200px;">
                <hr>
            `;
          
           // Append the card to the div
           productsDiv.appendChild(productCard);
        });
    });
    </script>
  </body>
</html>