<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/styles/adminPage.css ">
</head>
<body>
    <!-- Topbar -->
    <div class="top-bar">
        <!-- Left elements -->
        <div class="left-section">
            <img src="/images/shooping_cart.svg" alt="Icon 1" class="icon">
            <img src="/images/logout.svg" alt="Icon 1" class="icon">
        </div>
        <!-- Logo -->
        <div class="center-section">
            <img src="/images/logo.svg" class="logo"> 
        </div>
        <!-- Right elements -->
        <div class="right-section">
            <img src="/images/user.svg" alt="Icon 1" class="icon" onclick="window.location.href='/myAccount'">
        </div>
    </div>
    <h1>Welcome to the Home Page</h1>
</body>
</html>
