<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Near Me - Candy Shop</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/header-footer.css">
    <link rel="stylesheet" href="/styles/maps.css">
</head>
<body>
    <header>
        <nav class="main-navbar">
            <section class="navbar-left">
                <img src="/public/images/shooping_cart.svg" class="navbar-icon">
                <img src="/public/images/logout.svg" class="navbar-icon" onclick="window.location.href='/logout'">
            </section>
            <section class="navbar-center">
                <img src="/public/images/logo.svg" class="logo">
            </section>
            <section class="navbar-right">
                <img src="/public/images/nearMe.svg" class="navbar-icon" onclick="window.location.href='/nearMe'">
                <div class="side-menu">
                    <div class="sideMenu-sign">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                    <div class="sideMenu-content">
                        <div class="sideMenu-search">
                            <input type="text" placeholder="Search for candies...">
                        </div>
                        <ul class="sideMenu-categories">
                            <li>Chocolate</li>
                            <li>Gummy Bears</li>
                            <li>Licorice</li>
                            <li>Lollipops</li>
                            <li>Hard Candies</li>
                            <li>Sour Candies</li>
                            <li>Caramel</li>
                        </ul>
                        <div class="sideMenu-personal">
                            <% if (user.name) { %> 
                                <div class="sideMenu-iconContainer">
                                    <a href="/personal/myAccount">
                                        <img src="/public/images/user.svg" class="sideMenu-icon">
                                        <div class="sideMenu-iconLabel"><%= user.name %></div>
                                    </a>
                                </div>
                            <% } %> 
                            <% if (user.role === 'admin') { %> 
                                <div class="sideMenu-iconContainer">
                                    <a href="/personal/admin">
                                        <img src="/public/images/adminIcon.svg" class="sideMenu-icon">
                                        <div class="sideMenu-iconLabel">Manage Shop</div>
                                    </a>
                                </div>
                            <% } %> 
                        </div>
                    </div>
                </div>
            </section>
        </nav>
    </header>

    <!-- Map Container -->
    <div id="googleMap" style="height: 500px; width: 100%;"></div>

    <!-- Footer -->
    <footer class="text-white text-center text-lg-start bg-dark">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Talk To Us</h5>
                    <p>Have questions or feedback? Reach out to us at support@candyshop.com or follow us on social media for the latest updates and tips. We're here to help!</p>
                </div>
                <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                    <h5 class="text-uppercase">About Us</h5>
                    <p>At Candy Shop, we make finding your favorite sweets easy and enjoyable. Our app helps you locate the nearest candy stores so you can satisfy your sweet tooth quickly!</p>
                </div>
            </div>
        </div>
        <div class="text-center p-3 bg-secondary">
            © 2024 Copyright: Your Company Name
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&callback=initMap" async defer></script>
    <script src="/js/maps.js"></script>
</body>
</html>