<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sweetly - 401</title>
    <link rel="stylesheet" href="/public/styles/accessDenied.css">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="no-permission-container">
        <h1>Error</h1>
        <p>You are not Logged In</p>
        <a href="/">Login</a>
    </div>
</body>
</html>
