<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sweetly - Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/public/styles/register.css">
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>
<body>
    <div class="form-box">
        
        <form method="post" onsubmit="register(event)">
            <a href="/" class="back-icon"><i class="fas fa-arrow-left"></i></a>
            <h3>Register</h3>
            <input id="name" name="name" type="text" placeholder="Name">
            <input id="email" name="email" type="email" placeholder="Email">
            <input id="customerId" name="customerId" type="text" placeholder="ID" maxlength="9">
            <input id="phone" class="form-control" name="phone" type="tel" placeholder="Phone Number" maxlength="10">
            <input id="password" name="password" type="password" placeholder="Password">
            <input id="birthdate" name="birthdate" type="date" placeholder="Birthdate">
            <input id="city" name="address[town]" type="text" placeholder="Town">
            <input id="street" name="address[street]" type="text" placeholder="Street">
            <input id="number" name="address[homeNumber]" type="number" placeholder="Home Number">
            <button type="submit" class="button">Register</button>
        </form>
    </div>
    <script src="/public/js/registerValidation.js"></script>
</body>
</html>


