<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/styles/main.css">

    </head>
    <body>
        <button class="close-button" id="close-button">&times;</button>
        <video class="sideMenu-video" muted>
            <source src="/public/videos/heartcandy.mp4" type="video/mp4">
        </video>
        <video class="sideMenu-video" muted>
            <source src="/public/videos/gummy.mp4" type="video/mp4">
        </video>
        <video class="sideMenu-video" muted>
            <source src="/public/videos/donut.mp4" type="video/mp4">
        </video>
        <video class="sideMenu-video" muted>
            <source src="/public/videos/cookies.mp4" type="video/mp4">
        </video>
        <script src="/public/js/main.js"></script>

    </body>
</html>