.page-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.cart-container {
    flex: 2;
    padding: 20px;
    background-color: #fff;
}

.order-summary {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Separator line under each product */
}

.product-image-container img {
    width: auto;
    height: 100px;
    max-width: 150px;
    object-fit: contain;
}


.product-image-container {
    border-top-left-radius: 10px;  /* Set the desired radius */
    border-top-right-radius: 10px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-details {
    flex-grow: 2;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.update-button {
    background-color: #ff6ec4;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.update-button:hover {
    background: linear-gradient(25deg, #ff6ec4, #7873f5);;
}

.price {
    font-size: 18px;
    text-align: right;
}

.remove-button {
    align-self: center;
}

.remove-button i {
    font-size: 24px;
    color: black;
}


.summary-total {
    font-size: 18px;
    margin-bottom: 20px;
}

.checkout-button {
    background-color: #ff6ec4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-button:hover {
    background: linear-gradient(25deg, #ff6ec4, #7873f5);
}

.stock-banner {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-bottom-right-radius: 10px;
}

.sold-out {
    opacity: 0.5; /* Reduce opacity to make it look dark */
    pointer-events: none; /* Prevent interactions like clicking */
    filter: grayscale(100%); /* Optional: Make it look grayed out */
}