.page-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
}

.cart-container {
    flex: 2;
    padding: 20px;
    background-color: #fff;
}

.order-summary {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.cart-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd; /* Separator line under each product */
}

.product-image img {
    width: 150px;
    height: auto;
}

.product-details {
    flex-grow: 2;
}

.quantity-selector {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
}

.update-button {
    background-color: #e84c3d;
    border-radius: 5px;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.price {
    font-size: 18px;
    text-align: right;
}

.remove-button {
    align-self: center;
}

.remove-button i {
    font-size: 24px;
    color: red;
}

.summary-total {
    font-size: 18px;
    margin-bottom: 20px;
}

.summary-checkout button {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
