/* styles/register.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%), 
                repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 0.1) 10px, transparent 10px, transparent 20px),
                #ffc0cb !important;
}

.logo {
    width: 60%;
    display: block;
    margin: 0 auto 20px;
}

h3 {
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

.form-control {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="tel"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.checkbox-container input[type="checkbox"] {
    margin-right: 10px;
}

.button {
    background-color: #ff6ec4;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.5s ease;
}

.button:hover {
    background: linear-gradient(45deg, #ff6ec4, #7873f5);
    color: white;
    border: none;
}

.register-link {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
}

.register-link:hover {
    text-decoration: underline;
}

select {
    width: 32%;
    padding: 10px;
    margin: 15px 1%;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"] {
    width: 100%;
    padding: 12px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
}

/* Register Form Styling */
.form-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
}

form h3 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

form input {
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 12px;
    width: calc(100% - 24px);
}

form button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease;
}

form button:hover {
    background-color: #0056b3;
}



